/* define variables */
:root {
    --header-main-color: rgb(20, 20, 20);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header - main - footer */
  min-height: 100vh;
}

header {
  position: sticky;   /* Keeps the header fixed at the top of the viewport when scrolling */
  top: 0px;           /* Distance from the top edge of the viewport */
  height: auto;       /* Height adjusts automatically based on content */
  min-height: 70px;   /* Ensures the header is at least 70px tall */
  z-index: 1;         /* Places header above other elements to prevent overlap */
  line-height: 1.4;
  background: rgb(20, 20, 20);
  /* background-image: linear-gradient(180deg, rgba(0, 0, 0, .7) 10%, transparent); */
  transition: background-color .4s;
  padding: 0 60px;
  display: flex;
  align-items: center;
}




footer {
  background: #f3f4f6;
  padding: 1rem 0;
}

main {
  padding: 2rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; /* side breathing space */
}

section {
  margin-bottom: 3rem;
}

section h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #111827;
}

footer p {
  text-align: center;
  color: #6b7280;
  font-size: 0.875rem;
}


.netflix-sans-font-loaded {
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

.logo {
  display: inline-block;   /* makes the <a> behave like a box */
  width: 92.5px;
  height: 27px;
  margin: 0;
  padding: 0;
}

.logo img {
  display: block;          /* removes inline-gap issues */
  width: 100%;             /* scales image to fill parent */
  height: 100%;            /* keeps aspect ratio stretched to parent */
  margin: 0;
  padding: 0;
}